{% load static %}
<style>
    .chat-dropdown-header:hover{
		cursor: pointer;
		background: var(--main-background-color);
	}
	.chat-dropdown-header{
		color: var(--light-primary-text-color);
	}
	.scrollable-menu {
		height: auto;
		max-height: 90vh;
		width: 500px;
		overflow-x: hidden;
	}

	.notifications-material-icon {
		font-size: 28px;

	}
	.notifications-icon-container{
		width: 40px;
		height: 40px;
		background-color: var(--main-background-color);
	}
	.notifications-icon-container:hover {
		cursor: pointer;
		background-color: var(--secondary-text-color)
	}
	.notify-badge{
		position: absolute;
		background: transparent;
		height:1.2rem;
		width:1.2rem;
		line-height: 1.2rem;
		top:1rem;
		right:2rem;
		text-align: center;
		font-size: 1rem;
		border-radius: 50%;
		color:white;
		font-weight: 630;
		margin-top:-15px;
		margin-right: -25px;
	}

    .dropdown-item{
        padding: 5px !important;
    }

    .dropdown-item:hover{
        border-radius: 0.375rem !important;
        background-color: var(--dark-background-color);
    }

	#id_notifications_spinner{
		margin-top: 20px;
		margin-bottom: 20px;
	}

</style>
    <nav class="navbar fixed-top navbar-expand-sm bg-dark navbar-dark py-0">
    <div class="d-none d-md-flex flex-row my-auto ms-2 flex-grow-1 align-items-center" >
    <a class="navbar-brand" href="{% url 'homepage:home' %}">
      <img src="{% static 'homepage/images/logo3.jpeg' %}" alt="Logo" width="50" height="50" class="rounded-pill">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse"  id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link mx-1" href="{% url 'homepage:home' %}">Главная</a>
        <a class="nav-link mx-1" href="{% url 'homepage:projects' %}">Проекты</a>
        <a class="nav-link mx-1" href="#">Контакты</a>
        {% if user.is_authenticated %}
        <a class="nav-link mx-1" href="#">Мои файлы</a>
        <a class="nav-link mx-1" href="#">Cообщения</a>
          <div style="margin-left: 10px;">
          <form class="search-bar justify-content-start" method="GET" onsubmit="return executeQuery();">
              <input type="text" class="form-control" name="q" id="id_q_large" placeholder="Поиск...">
          </form>
          </div>
        {% endif %}
      </div>
    </div>
    {% if user.is_authenticated == False %}
      <div class="d-flex my-1 gap-2">
    <form action="{% url 'login' %}" method="get" ><button class="button-10" role="button" type="submit"> Войти </button></form>
    <form action="{% url 'register' %}" method="get"><button class="button-10" role="button" type="submit">Регистрация</button></form>
      </div>
    {% else %}
    <div class="d-flex flex-row justify-content-evenly gap-4 mx-3">
        <div class="dropdown show">
            <div class="btn-group dropstart">
            <div class="d-flex notifications-icon-container rounded-circle align-items-center" role="button" data-bs-toggle="dropdown" id="id_chat_notification_dropdown_toggle" aria-expanded="false">
                <span id="id_chat_notifications_count" class="notify-badge"></span>
                <span class="d-flex material-icons material-symbols-outlined m-auto align-items-center">forum</span>
                <div class="dropdown-menu scrollable-menu" aria-labelledby="id_chat_notification_dropdown_toggle" id="id_chat_notifications_container">
                </div>
            </div>
            </div>
        </div>
        <div class="dropdown">
            <div class="btn-group dropstart">
                <div class="d-flex notifications-icon-container rounded-circle align-items-center" role="button" data-bs-toggle="dropdown"  id="id_notification_dropdown_toggle" aria-expanded="false" >
                    <span id="id_general_notifications_count" class="notify-badge"></span>
                    <span class="d-flex material-icons notifications-material-icon m-auto align-items-center ">notifications</span>
                    <div class="dropdown-menu scrollable-menu" aria-labelledby="id_notification_dropdown_toggle" id="id_general_notifications_container">
                    </div>
                </div>
            </div>
        </div>
        <div class="dropdown dropstart">
            <button class="rounded-circle" type="button" style="padding:0px !important; border: 0px !important;" data-bs-toggle="dropdown" aria-expanded="false">
                <img class="account-image rounded-circle m-auto d-block" src="{{request.user.profile_image.url}}" alt="Изображение профиля" width="40" height="40">
            </button>
            <ul class="dropdown-menu dropstart m-2" style="padding: 0 !important; text-align: center;">
                <li><a class="dropdown-item" href="{% url 'homepage:profile' username=request.user.username %}">Профиль</a></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Выйти</a></li>
            </ul>
        </div>
    </div>
    {% endif %}
    </div>
    </nav>
<script>

    function executeQuery() {
        var query = ""
        query = document.getElementById('id_q_large').value;
        window.location = ("{% url 'homepage:search' %}?q=" + query);
        return false
    }

</script>