{% load static %}
<style>
    .chat-dropdown-header:hover{
        cursor: pointer;
        background: var(--main-background-color);
    }
    .chat-dropdown-header{
        color: var(--light-primary-text-color);
    }
    .scrollable-menu {
        height: auto;
        max-height: 90vh;
        width: 500px;
        overflow-x: hidden;
    }

    .notifications-material-icon {
        font-size: 28px;

    }
    .notifications-icon-container{
        width: 40px;
        height: 40px;
        background-color: var(--main-background-color);
    }
    .notifications-icon-container:hover {
        cursor: pointer;
        background-color: var(--secondary-text-color)
    }
    .notify-badge{
        position: absolute;
        background: transparent;
        height:1.2rem;
        width:1.2rem;
        line-height: 1.2rem;
        top:1rem;
        right:2rem;
        text-align: center;
        font-size: 1rem;
        border-radius: 50%;
        color:white;
        font-weight: 630;
        margin-top:-15px;
        margin-right: -25px;
    }
    #id_notifications_spinner{
        margin-top: 20px;
        margin-bottom: 20px;
    }
</style>
<nav class="navbar fixed-top navbar-expand-sm bg-dark navbar-dark py-0">
    <div class="container-fluid" >
        <a class="navbar-brand" href="{% url 'homepage:home' %}">
            <img src="{% static 'homepage/images/logo3.jpeg' %}" alt="Logo" width="50" height="50" class="rounded-pill">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link mx-1" href="{% url 'homepage:home' %}">Главная</a>
                <a class="nav-link mx-1" href="{% url 'homepage:projects' %}">Проекты</a>
                <a class="nav-link mx-1" href="#">Контакты</a>
                {% if user.is_authenticated %}
                <a class="nav-link mx-1" href="#">Мои файлы</a>
                <a class="nav-link mx-1" href="#">Cообщения</a>
                <div style="margin-left: 10px;">
                    <form class="search-bar justify-content-start" method="GET" onsubmit="return executeQuery();">
                        <input type="text" class="form-control" name="q" id="id_q_large" placeholder="Поиск...">
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
        {% if user.is_authenticated == False %}
        <div class="d-flex my-1 gap-2">
            <form action="{% url 'login' %}" method="get" ><button class="button-10" role="button" type="submit"> Войти </button></form>
            <form action="{% url 'register' %}" method="get"><button class="button-10" role="button" type="submit">Регистрация</button></form>
        </div>
        {% else %}
        <div class="dropdown show p-2">
            <div class="d-flex flex-row gap-3">

                <div class="btn-group dropstart">
                    <div class="d-flex notifications-icon-container rounded-circle align-items-center mr-3" id="id_chat_notification_dropdown_toggle" data-bs-toggle="dropdown">
                        <span id="id_chat_notifications_count" class="notify-badge"></span>
                        <span class="d-flex material-icons material-symbols-outlined m-auto align-items-center">chat</span>
                        <div class="dropdown-menu scrollable-menu" aria-labelledby="id_chat_notification_dropdown_toggle" id="id_chat_notifications_container">
                        </div>
                    </div>
                </div>

                <div class="btn-group dropstart">
                    <div class="d-flex notifications-icon-container rounded-circle align-items-center mr-3" id="id_notification_dropdown_toggle" data-bs-toggle="dropdown" onclick="setGeneralNotificationsAsRead()">
                        <span id="id_general_notifications_count" class="notify-badge"></span>
                        <span class="d-flex material-icons notifications-material-icon m-auto align-items-center">notifications</span>
                        <div class="dropdown-menu scrollable-menu" aria-labelledby="id_notification_dropdown_toggle" id="id_general_notifications_container">
                        </div>
                    </div>
                </div>

                <div class="btn-group dropstart">
                    <div class="d-flex notifications-icon-container rounded-circle align-items-center mr-3" data-bs-toggle="dropdown" aria-haspopup="true" id="id_profile_links" aria-expanded="false">
                        <img class="account-image rounded-circle m-auto d-block dropdown-toggle" src="{{request.user.profile_image.url}}" alt="{% static 'imgs/dummy_image.png' %}" width="40" height="40">
                        <div class="dropdown-menu" aria-labelledby="id_profile_links" id="id_profile_links_container">
                            <div class="dropdown-item" ><a class="dropdown-link" style="color:var(--light-primary-text-color);" href="{% url 'homepage:profile' username=request.user.username %}">Профиль</a></div>
                            <div class="dropdown-item"><a class="dropdown-link" style="color:var(--light-primary-text-color);" href="{% url 'logout' %}">Выйти</a></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        {% endif %}
    </div>
</nav>
<script>

    function executeQuery() {
        var query = ""
        query = document.getElementById('id_q_large').value;
        window.location = ("{% url 'homepage:search' %}?q=" + query);
        return false
    }

</script>